* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 10px;
}
:root{
    --primary-color: #08a6e4;
    --completive-color: #fb3b64;
    --secondary-color: #55dfb4;
    --dark-color: #000000;
    --shadow-first: #707070;
    --shadow-second: #95989a;
    --shadow-third: #a5a5a5;
    --light-color: #ffffff;
    --primary-font-family: 'Open Sans', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
}
.container{
    margin: 0 auto;
    width: 1348px;
}

header div {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    /*line-height: ;*/
    height: 9.6vh;
    font-size: 3.2em;
    /*text-decoration: none;*/

}
.header_logo {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--secondary-font-family);
    /*font-size: 32px;*/
    display: flex;
    align-items: center;
    padding-left: 10vh;
}
.page_nav{
    display: flex;
    align-items: center;
}

.page_nav_list {
    display: flex;
    /*flex-direction: row;*/
    padding-right: 10vh;
    /*align-items: center;*/


}
.page_nav_list li {
    /*3vw; !* do zmiany póżniej*!*!*/
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 9.6vh;C
}
ul.page_nav_list li a {
    line-height: 15px;
    text-decoration: none;
    color: var(--dark-color); /*nadpisuje kolor ze stylesheeta googla*/
    font-family: var(--primary-font-family);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    /*align-items: center;*/

}
ul.page_nav_list li:hover {
    border-bottom: 2px solid green;
    /*border-bottom-color: green;*/


}
/* a[href="#"] {*/
/*   */

/*}*/

